<div class="container footer">

  <span class="copyright"> © Copyright - Revenue Architects, LLC | 24 Federal Street | Boston, Ma 02139</span>
<!--
  <div class="sub_menu_socket"><div class="menu-footer-menu-container"><ul id="menu-footer-menu" class="menu"><li id="menu-item-6673" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6673"><a href="http://revenuearchitects.com/resources/">Resources</a></li>
    <li id="menu-item-6674" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6674"><a href="http://revenuearchitects.com/services/">Services</a></li>
    <li id="menu-item-6678" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6678"><a href="http://revenuearchitects.com/join-us/">Join Us</a></li>
    <li id="menu-item-6706" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6706"><a href="http://revenuearchitects.com/contact/">Contact</a></li>
  </ul></div></div> -->
</div>
