<div class='navbar navbar-fluid-top'>
  <div class='navbar-inner'>
    <div class="row-content">
      <div class='container-fluid'>
<!--         <a class='btn btn-navbar'>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </a> -->
          <%= link_to image_tag('logo.png'), root_url, title: 'LT Buddy', alt: 'LT Buddy', class: 'brand'-%>
          <div class='container-fluid'>
            <ul class='nav pull-right home-header'>
              <img src="/assets/john.jpg" class="img-circle">
              <div class="welcome">
                <h5>Welcome, <em>John C. Stone</em></h5>
                <h5>Admin Account</h5>
              </div>
              <i class="icon-cog"></i>
            </ul>
          </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
</div>
