<h1> My Reports </h1>

<% @attachments.each do |attachment|%>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="span8 offset2">
          <%= attachment.file_name %>
          <%= attachment.file_note %>
          <%= link_to 'Download Report', users_download_report_path(:id => attachment.id), class: "btn btn-info" %>
        </div>
      </div>
    </div>
  </div>
<%end%>
