<div class="container-fluid pagination-container pagination-ajax-container">
  <div class="row-fluid">
    <div class="span12">
      <%= will_paginate users, :previous_label => '<i class="icon-chevron-left" data-toggle="tooltip" title="" data-original-title="Previous Clients"></i>'.html_safe, :next_label => '<i class="icon-chevron-right" data-toggle="tooltip" title="" data-original-title="Next Clients"></i>'.html_safe %>
    </div>
  </div>
</div>
