<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=320, target-densitydpi=device-dpi" />
    <!--[if gte mso 9]>
    <style _tmplitem="108" >
      .article-content ol, .article-content ul {
      margin: 0 0 0 24px;
      padding: 0;
      list-style-position: inside;
      }
    </style>
    <![endif]-->
  </head>
<body style="width: 100% !important;background-color: #ececec;font-family: Helvetica Neue, Arial, Helvetica, sans-serif">
<table width="100%">
<td align="center" bgcolor="#ececec">
  <table style="margin:0 10px;" width="640" cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td width="640" height="20"></td>
    </tr>
    <tr>
      <td width="640">
        <table width="640" cellpadding="0" cellspacing="0" border="0" bgcolor="#41464A" style="border-radius:6px 6px 0px 0px; -moz-border-radius: 6px 6px 0px 0px; -webkit-border-radius:6px 6px 0px 0px; background-color: #3FC3D8; color: #e7cba3;background: linear-gradient(to right, #f59e33 0%, #f59e33 33%, #bcbdc0 66%, #58585a 100%);">
          <td width="255" valign="middle" align="right">
            <table width="255" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td width="255" height="8" style="
    height: 5px;
"></td>
              </tr>
            </table>
          </td>
        </table>
      </td>
    </tr>
    <tr>
<td width="640" align="center" bgcolor="#3FC3D8" style="
      background: #F7F7F7;
      height: 70px;
">
      <table width="640" cellpadding="0" cellspacing="0" border="0">
        <tbody><tr>
          <td width="30"></td>
          <td width="580" height="50">
             <img alt="Logo" src="http://i.imgur.com/CsFUviF.png" style="max-height: 44px;">
          </td>
          <td width="30"></td>
        </tr>

      </tbody></table>
    </td>
    </tr>
<tr>
      <td width="640" height="45" bgcolor="#ffffff"></td>
    </tr>
    <tr>
      <td width="640" bgcolor="#ffffff">
        <table width="640" cellpadding="0" cellspacing="0" border="0">
          <tr>
            <td width="30"></td>
            <td width="580">
              <table width="580" cellpadding="0" cellspacing="0" border="0">
                <tr>
                  <td width="580">
                    <p align="left" style="font-size: 24px;line-height: 32px; color: #41464A; font-weight:bold; margin-top:0px; margin-bottom:18px;">

                      <singleline>Welcome <%= @resource.first_name %><%= @resource.last_name %>,</singleline>
                    </p>
                    <em style="color: #8C8A8B;
font-style: normal;
font-size: 16px;
line-height: 23px;">Get access to AdvisorFeed by confirming your account email through the link below.</em>
                    <!-- <p align="left" style="margin-bottom: 15px;
color: #72D0EB;
font-size: 16px;
line-height: 23px;
font-weight: bold;">What now?  Quite easy, just click “Accept Invitation” to join the current case, free of charge.</p> -->
                  </td>
                </tr>
                <tr>
                  <td width="580" height="30"></td>
                </tr>
              </table>
              <table width="580" cellpadding="0" cellspacing="0" border="0">
                <tr>
                  <td width="275" valign="top">
                    <table width="275" cellpadding="0" cellspacing="0" border="0">
                      <tr>
                        <td width="275">
                          <p align="left" style="margin-top: 35px;  color: #41464A;position: relative;
top: -10px; font-size: 20px; line-height: 1px; text-decoratio:underline;text-decoration:underline;font-weight:bold;">

                          </p>
                        </td>
                      </tr>
                      <tr>
                        <td width="275" height="10"></td>
                      </tr>
                    </table>
                  </td>
                  <td width="30"></td>
                  <td width="275" valign="top">
                    <table width="275" cellpadding="0" cellspacing="0" border="0">
                      <tr>
                        <td width="275">
                          <p align="right">
                            <singleline>
                              <table>
                                <tr>
                                  <td align="center" width="300" bgcolor="#cf142b" style="background: #9a5513;
padding-top: 15px;
padding-bottom: 12px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
color: #fff;
font-weight: bold;
text-decoration: none;
font-family: Helvetica, Arial, sans-serif;
display: block;
width: 200px;">


<%= link_to 'Confirm My Account', confirmation_url(@resource, :confirmation_token => @token), {:style=>'color: #fff; text-decoration: none;'} %></td>
                                </tr>
                              </table></singleline></p>
                            </td>
                          </tr>
                          <tr>
                            <td width="275" height="10"></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <table width="580" cellpadding="0" cellspacing="0" border="0">
                        <tr>
<td width="580" style="
    border-top: 1px solid rgba(0,0,0,0.1);
">
                      <em style="color: #8C8A8B;
                      font-style: normal;
                      font-size: 10px;
                      line-height: 14px;font-style: italic;/* border-top: 1px solid; */">
                                Note:
                      Our application traffic runs entirely over 128-bit encrypted SSL (https) to safeguard your reports.
                      <br>Passwords are encrypted before storing into database.
                            </em>
                          </td>
                        </tr>
                      </table>
                    </tr>
                    <tr>
                      <table width="640" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" style="border-radius: 0 0 6px 6px;-moz-border-radius: 0 0 6px 6px;-webkit-border-radius: 0 0 6px 6px;background-color: #fff;color: #e2e2e2">
                        <tr>
                          <td width="360" height="15" style="
                              box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
                          "></td>
                        </tr>
                      </table>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td width="640" height="60"></td>
        </tr>
      </table>
    </td>
  </table>
</body>
</html>
